@import 'padroes.css';

body {
  color: var(--black);
  height: 100vh;
  background: url(../images/background-opacity.png) no-repeat center;
  background-attachment: fixed;
}

.conteudo {
  margin: 10rem 0;
}