@import 'padroes.css';

body {
  background: transparent url(../images/background.png) no-repeat center;
  color: var(--white);
}

section {
  height: 100vh;
}

.logo {
  width: 300px;
}

.texto-destaque {
  text-shadow: 1px 1px 1px var(--black);
  font-weight: bold;
  font-size: 1.2rem;
}

.btn {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in-out;
  color: var(--white);
}

.btn:hover {
  background-color: var(--light-gray);
  color: var(--black);
  border: 1px solid var(--black);
}

.btn-blue {
  background-color: var(--blue);
}

.btn-green {
  background-color: var(--light-green);
}

footer a {
  text-decoration: none;
  color: var(--black);
  transition: .3s ease-in-out;
}

footer a:hover {
  color: var(--blue);
}