:root {
  --white: #FFFFFF;
  --light-green: #0CDAC3;
  --neon-green: #00BD2B;
  --blue: #0038D8;
  --light-gray: rgb(178, 178, 178);
  --black: #000000;
}

body {
  background: transparent url(../images/background.png) no-repeat center;
  width: 80%;
  font-family: 'Poppins', sans-serif;  
  margin: 4rem auto;
}

.logo {
  width: 300px;
}

.texto {
  text-align: center;
  color: var(--white);
  text-shadow: 1px 1px 1px var(--black);
}

.texto-destaque {
  font-weight: bold;
  font-size: 1.2rem;
}

.btn {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease-in-out;
  color: var(--white);
}

.btn:hover {
  background-color: var(--light-gray);
  color: var(--black);
  border: 1px solid var(--black);
}

.btn-blue {
  background-color: var(--blue);
}

.btn-green {
  background-color: var(--light-green);
}

footer a {
  text-decoration: none;
  color: var(--black);
  transition: .3s ease-in-out;
}

footer a:hover {
  color: var(--blue);
}